html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Roboto Condensed;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 45em;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

body {
  margin: 0;
}

.btn {
  padding: .35em;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #000;
}

.btn:hover {
  background-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}

.img-flex {
  display: block;
  position: absolute;
  width: 100%;
}
