html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Roboto Condensed;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  display: flex;
  position: relative;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  max-width: 670px;
  height: 365px;
  width: 100%;
  justify-content: center;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  top: 8%;
  left: 40%;
  max-width: 45em;
  margin-top: 0;
  margin-right: 1em;
  position: absolute;
  padding-bottom: 1em;
}

p {
  font-size: 1.5rem;
  top: 35%;
  left: 40%;
  max-width: 45em;
  position: absolute;
  padding-right: 1em;
}

body {
  margin: 0;
}

.btn {
  padding: .35em;
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #333;
  bottom: 15%;
  left: 40%;
  position: absolute;
}

.btn:hover {
  background-color: #000;
}

.img-flex {
  display: block;
  width: 100%;
}

.btn-big {
  display: inline-block;
  position: absolute;
  top: 6%;
  left: 2%;
  width: 100%;
  max-width: 13em;
}
